<div class="lote-box" style="border: 1px solid #999; margin: 5px; padding: 10px; display: inline-block; vertical-align: top; width: 220px;">
    
    {% if lote.proprietario %}
        <div style="background: navy; color: white; padding: 4px; text-align: center; border-radius: 4px; margin-bottom: 5px;">
            Don(a): {{ lote.proprietario }}
        </div>
    {% endif %}

    <h4 style="text-align: center;">Lote {{ lote.numero }}</h4>

    {% if not lote.proprietario %}
        <form action="{% url 'vender_lote' lote.id %}" method="POST" style="margin-bottom: 10px;">
            {% csrf_token %}
            <div style="display: flex; gap: 2px;">
                <input type="text" name="nome_comprador" placeholder="Nome..." required style="width: 70%;">
                <button type="submit" style="background: green; color: white; border: none; cursor: pointer;">OK</button>
            </div>
        </form>
    {% endif %}

    <hr>
    {% for gaveta in lote.gavetas.all %}
       <p>{{ gaveta.situacao.0 }}</p> 
    {% endfor %}
</div>
